.lmj-plant-list {
	list-style-type: none;
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	max-width: 100%;
}
.title-green{
	color: green;
}
.title-red{
	color: red;
}

